/*import mainBgImg from './image-asset.jpeg'*/

.App {
  background: black;
  height: 100vh;
  width: 100vw;
  color: white;
}

.main {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  background: url("./image-asset.jpeg") no-repeat;
  background-size:100%;
}

.mainBgImg {
  width: 1200px;
  opacity: 50%;
}